<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicjames.oneshotrpg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneShotRPG">
        <activity android:name=".SobreActivity"
            android:label="@string/sobre"
            ></activity>
        <activity
            android:name=".ProdutosActivity"
            android:label="@string/btnprodutos"
            android:parentActivityName=".PerfilActivity" />
        <activity
            android:name=".ComprasActivity"
            android:label="@string/btncompras"
            android:parentActivityName=".PerfilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicjames.oneshotrpg.PerfilActivity" />
        </activity>
        <activity
            android:name=".PerfilActivity"
            android:label="@string/perfil" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartActivity"
            android:label="@string/btncarrinho" />
    </application>

</manifest>